{% extends "base.html" %} 

{% block title %}
About C. E. Giugno
{% endblock %}

{% block head %}
{{ super() }}
<style>
    .about-title {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
        color:white;
    }
    .about-desc {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
        color:  white;
    }
    .col-sm-8 {
        padding-top: 2%;
    }
    body {
        background-color:  rgb(117, 139, 161);
    }
    #about-background {
        margin-top: 3%;
    }
    
    .book-link:visited {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
        color: rgb(33, 43, 54);
        text-decoration: underline;
    }
    
    .book-link:link {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
        color:  white;
        text-decoration: underline;
    }
    .book-link:hover {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
        color: rgb(65, 79, 94);
        text-decoration: underline;
    }
    .book-link:active {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
        color:  rgb(33, 43, 54);
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block page_content %}
<div class="container-fluid" id="about-background">
    <div class="col-sm-10 text-left">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <h3 class="about-title">Catherine Giugno</h3>
            <p class="about-desc">Drawing from work in both Artificial Intelligence and English, Catherine Giugno has come to the conclusion that stories are fundamental to the way that human thought. Each of us are built for storytelling-- we use it to understand the what goes on in our physical environment, to understand the others around us, and even to understand ourselves. Catherine's work concentrates on exploring this idea and the tenuous border between the real and the imagined and, as of January 2021, her book <i>Building Character</i> is available for purchase on <a class="book-link" href="https://www.amazon.com/Building-Character-Authors-Create-Characters/dp/B08TQCXWKP/ref=sr_1_1?crid=25VX3AQ6RAUFQ&keywords=building+character+catherine+giugno&qid=1641152491&sprefix=building+character+catherine+giugno%2Caps%2C97&sr=8-1">Amazon.</a></p>
        </div>
        <div class="col-sm-3">
            <img src="{{ url_for('static', filename='img/portrait.jpg') }}" class = "img-responsive img-circle margin" style="display:inline" alt="Self-Portrait" width="90%">
        </div>
    </div>
</div>
{% endblock %}
