{% extends "base.html" %} 

{% block title %}C. E. Giugno, Game Development.{% endblock %}

{% block head %}
{{ super() }}
<style>
    #artCarousel {
        margin-bottom: 5%;
        max-height: 50%;
        height: 50%;
        width: 50%;
    }
    #image {
        max-height: 50%;
        height: 50%;
        width: 50%;
    }
    .carousel-caption {
        color: rgb(117, 139, 161) !important;;
        position: relative;
        left: auto;
        right: auto;
        text-shadow: none;
    }
    .link:hover, .link:focus{ 
        text-decoration: none;
    }
    .link:hover img {
        box-shadow: 0px 0px 25px rgb(117, 139, 161);
    }
    .link:hover .carousel-caption h3   {
        text-shadow: 0px 0px 10px  rgb(173, 178, 184);
    }
    .link:hover .carousel-caption p {
        text-shadow: 0px 0px 10px  rgb(173, 178, 184);
    }
    .wordandimage {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        color:  rgb(117, 139, 161) !important;
    }
    .item {
        margin: 5%;
    }
    .carousel-control.left, .carousel-control.right {
        background-image: none;
        color: rgb(117, 139, 161) !important;
        
    }
</style>
{% endblock %}

{% block page_content %} 
<h2 class="wordandimage">Game Development</h2>
<div class="col-sm-6 col-sm-offset-3">
    <div id="artCarousel" class="carousel slide text-center">
        <ol class="carousel-indicators">
            <li data-target="artCarousel" data-slide-to="0"></li>
            <li data-target="artCarousel" data-slide-to="1"></li>
            <li data-target="artCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <a class="link" href="https://koidevgames.itch.io/artificia/" target="_blank">
                    <img id="image" src="{{ url_for('static', filename='img/wordimage/artificia_titlescreen.png') }}" alt="The main character of Artificia stares out over a cyberpunk cityscape." style="margin: auto;">
                    <div class="carousel-caption">
                        <h3><i>Artificia</i>.</h3>
                        <p>Current position as writer, editor, and marketer for KoiDev Games' <i>Artificia</i>, a cyberpunk visual novel set to be released in Spring 2022.</p>
                    </div> 
                </a>
            </div>
            <div class="item">
                <a class="link" href="https://treecko.itch.io/divine-judgement" target="_blank">
                    <img id="image" src="{{ url_for('static', filename='img/wordimage/titlecard.png') }}" alt="Cast of Characters in Divine Judgement" style="margin: auto;">
                    <div class="carousel-caption">
                        <h3>Divine Judgement.</h3>
                        <p><i>Writer, Artist and Programmer.</i></p>
                        <p>Play as a hapless mortal asked (forced, one might say) to solve problems, provide advice and settle disputes for the gods.</p>
                    </div> 
                </a>
            </div>
            <div class="item">
                <a class="link" href="https://treecko.itch.io/cursed-writing-prompts" target="_blank">
                    <img id="image" src="{{ url_for('static', filename='img/wordimage/CURSEDWRITINGPROMPTSV1.png') }}" alt="Cursed Writing Prompts Video Game Tutorial Screen" style="margin: auto;">
                    <div class="carousel-caption">
                        <h3>Cursed Writing Prompts.</h3>
                        <p><i>Writer, and Programmer.</i></p>
                        <p>Compete against friends to create stories based on absurd, funny and, yes, <i>cursed</i> writing prompts. Won 3rd prize in the Playpass Launch Jam, June 2022.</p>
                    </div> 
                </a>
            <!-- </div>
            <div class="item">
                <a class="link" href="http://soundandvision.thecomicseries.com/comics/1/" target="_blank">
                    <img id="image" src="{{ url_for('static', filename='img/wordimage/db.jpg') }}" alt="Sound and Vision" style="margin:auto">
                    <div class="carousel-caption">
                        <h3>Sound and Vision.</h3>
                        <p>A visual journey through David Bowie's work.</p>
                    </div> 
                </a>
            </div>
            <div class="item">
                <a class="link" href="https://birdsofwildwings.thecomicseries.com/" target="_blank">
                    <img id="image" src="{{ url_for('static', filename='img/wordimage/barnowl.jpg') }}" alt="Barn Owl Illustration."  style="margin:auto">
                    <div class="carousel-caption">
                        <h3>Birds of Wild Wings.</h3>
                        <p>A catalogue of illustrations of birds of prey found at local wildlife sanctuary, Wild Wings.</p>
                    </div> 
                </a>
            </div> -->
        </div>
        <a class="left carousel-control" href="#artCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#artCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    
</div>
{% endblock %}