{% extends "base.html" %} 

{% block title %}C. E. Giugno, Home{% endblock %}

{% block head %}
{{ super() }}
<style>
    body {
        background-color:  rgb(117, 139, 161);
    }
    #initial {
        background-color:  rgb(117, 139, 161);
    }
    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        font-size: 20pt;
        letter-spacing: 2pt;
    }
    .col-sm-8{
        margin-top: 10%;
        margin-bottom: 5%;
        padding-left: 14%;
    }
    #image {
        margin-top: 3%;
        margin-bottom: 5%;
    }
    #prose {
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: rgb(150, 178, 206);
    }
    #articles {
        padding-top: 5%;
        padding-bottom: 5%;
        background-color:rgb(175, 207, 238)
    }
    #artwork {
        padding-top: 5%;
        padding-bottom: 5%;
        background-color:white
    }
    .prose-heading {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 2pt;
        text-align: center;
    }
    .article-heading {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 2pt;
        text-align: center;
    }
    .artwork-heading {
        color:rgb(175, 207, 238);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 2pt;
        text-align: center;
    }
    .col-sm-4 p {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 2pt;
        color: white;
    }
    .col-sm-4 {
        display: flex;
        justify-content: center;
    }
    #prose-panel {
        height: 150px;
        padding: 5%;
        background-color: rgb(150, 178, 206);
        box-shadow: none;
        text-align: center;
    }
    #prose-panel:hover {
        background-image: radial-gradient(closest-side, rgb(175, 207, 238), rgb(150, 178, 206));
    }
    #article-panel {
        padding: 5%;
        background-color: rgb(175, 207, 238);
        box-shadow: none;
        text-align: center;
    }
    #article-panel:hover {
        background-image: radial-gradient(closest-side,  rgb(202, 224, 245), rgb(175, 207, 238));
    }
    .desc {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
    }
    .link , .link:hover, .link:focus{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        text-decoration: none;
    }
    .row {
        margin: 2%;
    }
    h4 {
        text-align: center;
        letter-spacing: 2pt;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #seemore:hover, #seemore:focus {
        text-shadow:  0 0 20px white;
    }
    #seemoreart {
        color: rgb(175, 207, 238) !important ;
        text-align: center;
        letter-spacing: 2pt;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #seemoreart:hover, #seemoreart:focus {
        text-shadow:  0 0 20px rgb(175, 207, 238);
    }
    .thumbnail {
        border: rgb(117, 139, 161);
        border-radius: 5px;
    }
    .thumbnail:hover , .thumbnail:focus{
        box-shadow: 5px 0px 50px  rgb(175, 207, 238);
    }
    .thumbnail p {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:  rgb(117, 139, 161) !important;
        margin-top: 8px;
    }
    .thumbnail a img { 
        width: 100%;
    }
</style>
{% endblock %}

{% block page_content %}
<div class="container-fluid" id="initial">
    <div class="col-sm-8">
        <h3 class="heading">I use stories to understand the world around me.<br>Head in the clouds, feet on the ground.</h3>
    </div>
    <div class="col-sm-4" id="image"><img src="{{ url_for('static', filename='img/portrait.jpg') }}" class = "img-responsive img-circle margin" style="float: left;" alt="Self-Portrait" width="350px"></div>
</div>
<div class="container-fluid" id="prose">
    <h2 class="prose-heading">Prose</h2>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel" id="prose-panel">
                <a class="link" href="{{ url_for('static', filename='pdf/AtlanticCity_2022.pdf') }}" target="_blank">
                    <h4>Atlantic City, 2022.</h4>
                    <p class = "desc">Spontaneous combustions. Apocalyptic beings roaming the earth. All things that a recent college graduate has to deal with as she travels to Atlantic City to break up with her girlfriend. (2022).</p>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel" id="prose-panel">
                <a class="link" href="{{ url_for('static', filename='pdf/TheGoblinQueen.pdf') }}" target="_blank">
                    <h4>The Goblin Queen</h4>
                    <p class = "desc">The world is not what it seems. And neither is she (Winner of the Dean's Prize in Creative Writing, Fiction; 2019).</p>
                </a>
            </div>
        </div>
        <div class=col-sm-4>
            <div class="panel" id="prose-panel">
                <a class="link" href="{{ url_for('static', filename='pdf/Giugno_Isle_Of_The_Dead_Portfolio.pdf') }}" target="_blank">
                    <h4>Isle of the Dead</h4>
                    <p class = "desc">Follow a phonograph as it passes through the hands of three generations, from the turn of the 20th century to the modern day to the age to come (2021).</p>
                </a>
            </div>
        </div>
    </div>
    <a class="link" id="seemore" href="{{ url_for('prose') }}">
        <h4>See more prose.</h4>
    </a>
</div>
<div class="container-fluid" id="articles">
    <h2 class="article-heading">Articles</h2>
    <div class="row text-center">
        <div class="col-sm-4">
            <div class="panel" id = "article-panel">
                <a class="link" href="https://thedailyfandom.org/anxiety-chances-life-is-strange/" target="_blank">
                    <h4>Anxiety + Second Chances In "Life Is Strange"</h4>
                    <p class = "desc">The hit adventure game “Life is Strange” is all about choices. Awakening from a disconcerting dream in the middle of class, you, an awkward teen photography student, suddenly find yourself with the strange ability to rewind time. But that’s the least of your problems....</p>
                </a>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="panel" id="article-panel">
                <a class="link" href="https://thedailyfandom.org/she-ras-final-season-need-to-know/" target="_blank">
                    <h4>Everything You Need To Know Before She-Ra's Final Season</h4>
                    <p class="desc">We must be strong. We must be brave… because the final season of She-Ra and the Princesses of Power is releasing on Netflix May 15th.
                        Let's take a run through of all that's been happening in Etheria the past few seasons and what fans might expect from the upcoming finale.</p>
                </a>
            </div>
        </div>
    
        <div class="col-sm-4">
            <div class="panel" id="article-panel">
                <a class="link" href="https://thedailyfandom.org/celebrating-bonds-in-pokemon-anime/" target="_blank">
                    <h4>Celebrating Bonds In The Pokemon Anime</h4>
                    <p class = "desc">On June 14th, Netflix released the latest season of the Pokémon anime, marking a new chapter in the twenty-three-year long story of Ash Ketchum, a trainer from Pallet Town, and his partner Pikachu. In celebration of Ash's new start, let's look at some of the most treasured bonds between him, his companions and enemies, and, of course, Pokemon!</p>
                </a>
            </div>
        </div>
    </div>
    <a class="link" id="seemore" href="{{ url_for('article') }}">
        <h4>See more articles.</h4>
    </a>
</div>
<div class="container-fluid" id="artwork">
    <h2 class="artwork-heading">Artwork</h2>
    <div class="row text-align: center display: inline">
        <div class="col-sm-4">
            <div class="thumbnail">
                <a class="link" href="{{ url_for('static', filename='img/portfolio/oilpastel.JPG') }}" target="_blank">
                    <img src="{{ url_for('static', filename='img/portfolio/oilpastel.JPG') }}" alt = "Fleeting Reflection.">
                    <p><strong>Fleeting Reflection.</strong></p>
                    <p>Oil Pastel.</p>
                </a>
            </div>
        </div>
         <div class="col-sm-4">
            <div class="thumbnail">
                <a class="link" href="{{ url_for('static', filename='img/portfolio/stilllife.JPG') }}" target="_blank">
                    <img src="{{ url_for('static', filename='img/portfolio/stilllife.JPG') }}" alt = "Still Life.">
                    <p><strong>Still Life.</strong></p>
                    <p>Charcoal.</p>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a class="link" href="{{ url_for('static', filename='img/portfolio/max_tableau.png') }}" target="_blank">
                    <img src="{{ url_for('static', filename='img/portfolio/max_tableau.png') }}" alt = "Staring into the Void">
                    <p><strong>Staring into the Void.</strong></p>
                    <p>Maxwell, <i>Don't Starve.</i> Digital Media.</p>
                </a>
            </div>
        </div>
    </div>
    <a class="link" id="seemoreart" href="{{ url_for('artwork') }}">
        <h4>See more artwork.</h4>
    </a>
</div>
{% endblock %}