{% extends "base.html" %} 

{% block title %}C. E. Giugno, Prose{% endblock %}

{% block head %}
{{ super() }}
<style>
    .prose {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        color:  rgb(117, 139, 161) !important;
    }
    .desc {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
    }
    .link , .link:hover, .link:focus{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        text-decoration: none;
    }
    .col-sm-4 {
        padding: 1%;
    }
    .panel {
        min-height: 150px;
        height: auto;
        padding: 5%;
        background-image: radial-gradient( rgb(84, 101, 119), rgb(117, 139, 161));
    }
    .panel:hover {
        box-shadow: 5px 0px 40px  rgb(117, 139, 161);
    }
</style>
{% endblock %}

{% block page_content %}
<div class="container">
    <h2 class="prose">Prose</h2>
    <div class="row text-center">
    <div class="col-sm-4">
        <div class="panel">
            <a class="link" href="{{ url_for('static', filename='pdf/AtlanticCity_2022.pdf') }}" target="_blank">
                <h4>Atlantic City, 2022.</h4>
                <p class = "desc">Spontaneous combustions. Apocalyptic beings roaming the earth. All things that one woman has to deal with as she travels to Atlantic City to break up with her girlfriend (2022).</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel">
            <a class="link" href="{{ url_for('static', filename='pdf/Giugno_TheGhostAndTheMachine_Portfolio.pdf') }}" target="_blank">
                <h4>The Ghost and the Machine</h4>
                <p class="desc">A college freshman grapples with loneliness and a growing infatuation with a world that she knows is not real (2021).</p>
            </a>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel">
            <a class="link" href="{{ url_for('static', filename='pdf/Giugno_Isle_Of_The_Dead_Portfolio.pdf') }}" target="_blank">
                <h4>Isle of the Dead</h4>
                <p class = "desc">Follow a phonograph as it passes through the hands of three generations, from the turn of the 20th century to the modern day to the age to come (2021).</p>
            </a>
        </div>
    </div>
    </div>
    <div class="row text-center">
    <div class="col-sm-4">
        <div class="panel">
            <a class="link" href="{{ url_for('static', filename='pdf/TheGoblinQueen.pdf') }}" target="_blank">
                <h4>The Goblin Queen</h4>
                <p class = "desc">The world is not what it seems. And neither is she (Winner of the Dean's Prize in Creative Writing, Fiction; 2019).</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel">
            <a class="link" href="{{ url_for('static', filename='pdf/ActualEnlightenment.pdf') }}" target="_blank">
                <h4>Actual Enlightenment</h4>
                <p class = "desc">A teenager realizes enlightenment might not be all its cracked up to be (2019).</p>
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel">
            <a class="link" href="https://www.amazon.com/Building-Character-Authors-Create-Characters-ebook/dp/B08T5G5Q2N/ref=sr_1_1?crid=1HF35DN9WV1KA&dchild=1&keywords=building+character&qid=1610670298&refinements=p_n_date%3A1249100011&rnid=1249099011&s=digital-text&sprefix=building+ch%2Caps%2C197&sr=1-1" target="_blank">
                <h4><i>Building Character</i></h4>
                <p class = "desc"><i>Building Character</i> examines why stories are such a powerful tool, why characters are (kind of) real and how to bring your own fictional people to life.</p>
            </a>
        </div>
    </div>
    </div>
</div>
{% endblock %}